.table {
  font-size: 14px;
  text-align: center;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.tr {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  background-color: #000000d2;
}

.th {
  padding: 0;
  border: 1px solid black;
}

.tableRow:nth-child(even) {
  background-color: #6259597b;
}

.tableRow:nth-child(odd) {
  background-color: white;
}

.td {
  padding: 0;
  border: 1px solid black;
}
